################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages/Newtonsoft.Json.13.0.1
/Plugin/obj
/Plugin/bin/Debug
